body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

header {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.heading {
  margin-top: 50px;
}

.navbar {
  height: 50px;
  display: flex;
}

.contents {
  display: flex;
}

.left-content {
  height: 350px;
  width: 350px;
  margin: 50px 20px 0 auto;
}

.right-content {
  height: 550px;
  width: 500px;
  margin: 0 auto 0 20px;
}

footer {
  background-color: rgba(232, 53, 86, 1);
  height: 100px;
  margin-bottom: 50px;
}

.title {
  font-size: 50px;
}

.title-name {
  font-family: fantasy;
  margin-left: 20px;
  font-size: 20px;
  width: 160px;
}

.navbar ul li a{
  text-decoration: none;
  color: gray;
}

.navbar ul {
  list-style: none;
  display: flex;
  width: 500px;
  
}

.navbar ul li {
  padding-left: 30px;
  color: gray;
}

.navbar ul li a:hover {
  color: rgb(89, 190, 230);
  font-size: 15px;
}

.image {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.index {
  font-size: 70px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 40px auto 0;
}

.manu {
  display: flex;
}

a{
  text-decoration: none;
}

.btn1 {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  text-align: center;
  line-height: 150px;
  margin: 30px 30px;
  color: white;
  background-color: rgb(245, 43, 144);
}

.btn1:hover {
  background-color: hotpink;
}

.btn2 {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  text-align: center;
  line-height: 150px;
  margin: 30px 30px;
  color: white;
  background-color: rgb(89, 190, 230);
}

.btn2:hover {
  background-color: skyblue;
}


.content{
  width: 400px;
  margin: 30px auto;
  
}

.text {
  font-size: 15px;
}

.footer-contents {
height: 100px;
width: 600px;
margin: auto;
display: flex;
}

.tel {
width: 250px;
margin: auto 0;
display: flex;
}

.tel-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.mail {
width: 350px;
margin: auto 0;
display: flex;
}

.gmail-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 50px;
}

.phone {
  text-align: center;
  margin-left: 10px;
  color: white;
}

.gmail{
  text-align: center;
  margin-left: 10px;
  color: white;
}

.myself {
}

.myself-contents {
width: 800px;
margin: 50px auto 0;
}

.myself-main {
  height: 120px;
  width: 800px;
  font-size: 60px;
  font-family: udmincho, "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro", serif;
  color: #4D4D4D;
  border-bottom: 1px solid gray;
}

.myself-content {
  height: 200px;
  width: 800px;
  border-bottom: 1px solid gray;
  display: flex;
}

.myself-left {
  background-color: rgba(232, 53, 86, 1);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}

.myself-rights {
  width: 600px;
  height: 120px;
  margin: auto;

}

.myself-prof {
  height: 30px;
  width: 200px;
  font-size: 18px;
}

.myself-text {
  font-size: 13px;
}

.myself-language {
  height: 100px;
  line-height: 100px;
}

.myself-language ul {
  display: flex;
}

.myself-language ul li {
font-size: 12px;
list-style: none;
margin-right: 15px;
}

.myself-right {
  width: 600px;
  height: 120px;
  margin: auto;
  text-align: center;

}

.myself-right a {
  text-decoration: none;
  line-height: 120px;
  margin: 0 40px 0 40px;
  color: gray;
  font-size: 20px;
}

.myself-right a:hover{
  color: rgb(89, 190, 230);
}


.myself-myself {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.myself-history {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.portfolio {
}

.portfolio-contents {
margin: 50px auto 60px;
width: 800px;
padding-bottom: 50px;
border-bottom: 1px solid gray;
}
.portfolio-main {
  height: 80px;
  width: 800px;
  font-size: 40px;
  font-family: udmincho, "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro", serif;
  color: #4D4D4D;
  border-bottom: 1px solid gray;
}

.portfolio-box {
  height: 500px;
  width: 800px;
  margin-top: 50px;
  display: flex;
}

.portfolio-left {
  height: 450px;
  width: 300px;
  margin: 20px 0 0 50px;
}

.portfolio-right {
  height: 450px;
  width: 450px;

}

.portfolio-title {
  height: 80px;
  width: 400px;
  text-align: center;
  font-size: 32px;
  margin-left: 30px;
  border-bottom: 1px solid gray;
  line-height: 80px;
  color: #4D4D4D;
  font-family: udmincho, "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro", serif;
}

.portfolio-text {
  height: 350px;
  width: 450px;
}

.portfolio-name {
  font-size: 15px;
  
  width: 150px;
  text-align: center;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
}

.portfolio-text a {
  text-decoration: none;
  color: rgb(89, 190, 230);
  font-size: 17px;
  margin-left: 30px;
}

.portfolio-text a:hover {
  color: rgb(7, 148, 203);
}

.portfolio-pas {
  margin-left: 30px;
  margin-top: 5px;
}

.portfolio-work {
  height: 150px;
  width: 400px;
  margin: 20px 0 0 30px;
  font-size: 15px;
  padding-top: 30px;
  border-top: 1px solid gray;
}


