body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

header {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.heading {
  margin-top: 50px;
}

.navbar {
  height: 50px;
  display: flex;
}

.contents {
  display: flex;
}

.left-content {
  height: 350px;
  width: 350px;
  margin: 50px 20px 0 auto;
}

.right-content {
  height: 550px;
  width: 500px;
  margin: 0 auto 0 20px;
}

footer {
  background-color: rgba(232, 53, 86, 1);
  height: 100px;
  margin-bottom: 50px;
}

.title {
  font-size: 50px;
}

.title-name {
  font-family: fantasy;
  margin-left: 20px;
  font-size: 20px;
  width: 160px;
}

ul li a{
  text-decoration: none;
  color: gray;
}

ul {
  list-style: none;
  display: flex;
  width: 500px;
  
}

li {
  padding-left: 30px;
  color: gray;
}

ul li a:hover {
  color: rgb(89, 190, 230);
}

.image {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.index {
  font-size: 70px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  padding-top: 20px;
  
  border-radius: 10px;
  width: 400px;
  margin: 40px auto 0;
}

.manu {
  display: flex;
}

.btn1 {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  text-align: center;
  line-height: 150px;
  margin: 20px 10px;
  color: white;
  background-color: rgb(245, 43, 144);
}

.btn1:hover {
  background-color: hotpink;
}

.btn2 {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  text-align: center;
  line-height: 150px;
  margin: 20px 10px;
  color: white;
  background-color: rgb(89, 190, 230);
}

.btn2:hover {
  background-color: skyblue;
}

.btn3 {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  text-align: center;
  line-height: 150px;
  margin: 20px 10px;
  color: white;
  background-color: rgb(193, 181, 13);
}

.btn3:hover {
  background-color: darkkhaki;
}

.content{
  width: 400px;
  margin: 30px auto;
  
}

.text {
  font-size: 15px;
}

.footer-contents {
height: 100px;
width: 600px;
margin: auto;
display: flex;
}

.tel {
width: 250px;
margin: auto 0;
display: flex;
}

.tel-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.mail {
width: 350px;
margin: auto 0;
display: flex;
}

.gmail-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 50px;
}

.phone {
  text-align: center;
  margin-left: 10px;
  color: white;
}

.gmail{
  text-align: center;
  margin-left: 10px;
  color: white;
}

.myself {
}

.myself-contents {
height: 600px;
width: 800px;
margin: 50px auto 0;
}

.myself-main {
  height: 120px;
  width: 800px;
  font-size: 60px;
  font-family: udmincho, "ms mincho", "ヒラギノ明朝 pro w3", "hiragino mincho pro", serif;
  color: #4D4D4D;
  border-bottom: 1px solid gray;
}

.myself-content {
  height: 200px;
  width: 800px;
  border-bottom: 1px solid gray;
  display: flex;
}

.myself-left {
  background-color: rgba(232, 53, 86, 1);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}

.myself-right {

  
}

.myself-right {
  width: 600px;
  height: 120px;
  margin: auto;
  text-align: center;

}

.myself-right a {
  text-decoration: none;
  line-height: 120px;
  margin: 0 40px 0 40px;
  color: gray;
  font-size: 20px;
}

.myself-right a:hover{
  color: rgb(89, 190, 230);
}


.myself-myself {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.myself-history {
  color: white;
  text-align: center;
  margin-top: 40px;
}
